source/html/components/services.pug
<section id="welcome">
	<div class="container">
		<div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
			<span class="lead">Наше предприятие предлагает большой спектр услуг. От хранения продукции до сдачи помещений в аренду</span>
		</div>
		div(class="row")
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="0")
				div(class="d-flex align-start")
					img(src="images/icon1.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда морозильных складов
						p
							| Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="200")
				div(class="d-flex align-start")
					img(src="images/icon2.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда холодильных складов
						p
							| Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="400")
				div(class="d-flex align-start")
					img(src="images/icon3.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда теплых складов
						p
							| Склады этого типа предназначены для хранения большого спектра товаров 
		div(class="row")
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="600")
				div(class="d-flex align-start")
					img(src="images/icon4.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда бытовых помещений
						p
							| Сдаем в аренду бытовые помещения и офисы. Удобное местоположение.
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="800")
				div(class="d-flex align-start")
					img(src="images/icon5.png" alt="img")
					div(class="welcome__content")
						h3()
							| Ответственное хранение
						p
							| Мы принимаем на ответственное хранение продукты от 20 палет и более.
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="1000")
				div(class="d-flex align-start")
					img(src="images/icon6.png" alt="img")
					div(class="welcome__content")
						h3()
							| Погрузочно-разгрузочные работы
						p
							| Предоставляем полный комплекс услуг по погрузке/выгрузке товаров.
	</div>
</section>

release/services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="INSPIRO"/>
    <meta name="description" content="Themeforest Template Polo, html template"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Хладокомбинат</title>
    <link href="css/main.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="body-inner">
      <header class="dark submenu-light" id="header" data-transparent="true" data-fullwidth="true">
        <div class="header-inner">
          <div class="container header__block"><div id="logo">
<a href="index.html">
<span class="logo-default">ЛОГО</span>
<span class="logo-dark">ЛОГО</span>
</a>
</div>
<div id="mainMenu-trigger">
<a class="lines-button x"><span class="lines"></span></a>
</div>
            <div class="d-lg-flex">
              <div class="pr-lg-5" id="mainMenu">
                <div class="container">
                  <nav>
                    <ul><li><a href="index.html">Главная</a></li>
<li><a href="index.html">Услуги</a></li>
<li><a href="index.html">Информация</a></li>
<li><a href="index.html">О компании</a></li>
<li><a href="index.html">Партнеры</a></li>
<li><a href="index.html">Контакты</a></li>
<li class="d-flex align-center d-lg-none">
                      <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                        <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                      </div>
                      <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="d-none d-lg-flex align-center">
                <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                  <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                </div>
                <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="welcome">
        <div class="container">
          <div class="row">
            <div class="col-12 welcome__content">
              <h1>Услуги
              </h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Library</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </section><section id="welcome">
<div class="container">
<div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
<span class="lead">Наше предприятие предлагает большой спектр услуг. От хранения продукции до сдачи помещений в аренду</span>
</div>
      <div class="row">
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="0">
          <div class="d-flex align-start"><img src="images/icon1.png" alt="img"/>
            <div class="welcome__content">
              <h3>Аренда морозильных складов</h3>
              <p>Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="200">
          <div class="d-flex align-start"><img src="images/icon2.png" alt="img"/>
            <div class="welcome__content">
              <h3>Аренда холодильных складов</h3>
              <p>Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="400">
          <div class="d-flex align-start"><img src="images/icon3.png" alt="img"/>
            <div class="welcome__content">
              <h3>Аренда теплых складов</h3>
              <p>Склады этого типа предназначены для хранения большого спектра товаров </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="600">
          <div class="d-flex align-start"><img src="images/icon4.png" alt="img"/>
            <div class="welcome__content">
              <h3>Аренда бытовых помещений</h3>
              <p>Сдаем в аренду бытовые помещения и офисы. Удобное местоположение.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="800">
          <div class="d-flex align-start"><img src="images/icon5.png" alt="img"/>
            <div class="welcome__content">
              <h3>Ответственное хранение</h3>
              <p>Мы принимаем на ответственное хранение продукты от 20 палет и более.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="1000">
          <div class="d-flex align-start"><img src="images/icon6.png" alt="img"/>
            <div class="welcome__content">
              <h3>Погрузочно-разгрузочные работы</h3>
              <p>Предоставляем полный комплекс услуг по погрузке/выгрузке товаров.</p>
            </div>
          </div>
        </div>
      </div></div>
</section>
      <section class="coldplant">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 pb-5 pb-lg-0" data-animate="fadeInLeft" data-animate-delay="0"><img class="img-fluid" src="images/coldplant.jpg" alt="img"/></div>
            <div class="col-12 col-lg-7" data-animate="fadeInRight" data-animate-delay="0">
              <h2>Хладокомбинат №1</h2>
              <p>Приветствуем вас на официальном портале предприятия «Хладокомбинат №1», одной из старейших коммерческих организаций Челябинска, предоставляющего услуги по хранению замороженных и охлажденных продуктов и полуфабрикатов. Наша компания с радостью предоставит на условиях аренды морозильные камеры, холодильные склады, офисы, а также примет товар на ответственное хранение. Расширенный спектр оказываемых нами услуг выгодно отличает нас от иных компаний, занимающихся низкотемпературным хранением в Челябинске.</p>
              <p>Главной отличительной чертой хладокомбината Хладокомбината считается его удобное географическое расположение — непосредственное нахождение комплекса в центральном районе, чем не могут похвастаться другие предприятия, оказывающие подобные услуги. А ведь именно расположение хладокомбината в центре города означает максимальную близость и привлекательность для потребителя.</p>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
<div class="footer-content">
<div class="container">
<div class="row">
<div class="col-12 col-lg-4">
<div class="widget">
<div class="widget-title widget-title_big">Хладокомбинат</div>
<p class="mb-5">Аренда складов разного типа и характеристик в Челябинске.</p>
<a class="btn " href="#" type="button" data-toggle="modal" data-target="#modalCallback">оставить заявку</a>
</div>
</div>
<div class="col-12 col-lg-8">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Услуги</div>
<ul class="list">
<li><a href="#">Аренда морозильных камер</a></li>
<li><a href="#">Аренда холодильных камер</a></li>
<li><a href="#">Аренда офисов</a></li>
<li><a href="#">Ответственное хранение</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Арендаторам</div>
<ul class="list">
<li><a href="#">Личный кабинет</a></li>
<li><a href="#">Информация</a></li>
<li><a href="#">Документы</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget widget_adres">
<div class="widget-title">Контакты</div>
<ul class="list">
<li>Адрес: Челябинск, ул. Ленина 1</li>
<li><a href="tel:+73512170770">Телефон: +7 351 217-07-70 </a></li>
<li><a href="emailto:info@site.ru">E-mail: info@site.ru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="copyright-content">
<div class="container">
<div class="copyright-text">2020 Хладокомбинат - политика конфиденциальности<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> Создание и поддержка сайта DEKSIS.RU </a>
</div>
</div>
</div>
</footer>
    </div><div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Обратный звонок</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Телефон" type="tel"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div>
<div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Вход</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form>
    <div class="d-flex justify-content-center"><a class="btn__register" href="#" data-toggle="modal" data-target="#modalReg">регистрация</a></div></div>
</div>
</div>
</div>
<div class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Регистрация</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div><a id="scrollTop"><i class="fas fa-chevron-up"></i>
<i class="fas fa-chevron-up"></i></a>
    <script src="js/library/jquery.js"></script>
    <script src="js/library/plugins.js"></script>
    <script src="js/library/functions.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
