source/html/contacts.pug
extends base.pug
block content
	- title = "Контакты"
	include components/welcome.pug
	section(class="")
		div(class="container animated fadeIn" data-animate="fadeIn")
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="text-left")
						b
							| Контактная информация
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| Отдел аренды
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| По вопросам сотрудничества
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| По общим вопросам
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 py-5")
					div(class="contacts__item d-flex align-center")
						img(src="images/map.svg" alt="img")
						h3(class="pb-0 m-0 pl-3")
							| Челябинск, пр. Ленина 27/6
				div(class="col-12")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.730722558252!2d61.3071835160717!3d55.15299074555837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5925bc92a4267%3A0x3cb3b80930fa619b!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0OTAy!5e0!3m2!1sru!2sru!4v1591774958483!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	include components/form.pug
			
					

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="INSPIRO"/>
    <meta name="description" content="Themeforest Template Polo, html template"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Хладокомбинат</title>
    <link href="css/main.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="body-inner">
      <header class="dark submenu-light" id="header" data-transparent="true" data-fullwidth="true">
        <div class="header-inner">
          <div class="container header__block"><div id="logo">
<a href="index.html">
<span class="logo-default">ЛОГО</span>
<span class="logo-dark">ЛОГО</span>
</a>
</div>
<div id="mainMenu-trigger">
<a class="lines-button x"><span class="lines"></span></a>
</div>
            <div class="d-lg-flex">
              <div class="pr-lg-5" id="mainMenu">
                <div class="container">
                  <nav>
                    <ul><li><a href="index.html">Главная</a></li>
<li><a href="index.html">Услуги</a></li>
<li><a href="index.html">Информация</a></li>
<li><a href="index.html">О компании</a></li>
<li><a href="index.html">Партнеры</a></li>
<li><a href="index.html">Контакты</a></li>
<li class="d-flex align-center d-lg-none">
                      <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                        <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                      </div>
                      <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="d-none d-lg-flex align-center">
                <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                  <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                </div>
                <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="welcome">
        <div class="container">
          <div class="row">
            <div class="col-12 welcome__content">
              <h1>Контакты
              </h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Library</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container animated fadeIn" data-animate="fadeIn">
          <div class="row">
            <div class="col-12 pb-5">
              <h2 class="text-left"><b>Контактная информация</b></h2>
            </div>
            <div class="col-12 col-lg-4 pb-5">
              <div class="contacts__item">
                <h3>Отдел аренды</h3><a href="tel:83511234567"><img src="images/phone.svg" alt="img"/><b>8 (351) 123-45-67</b></a><a href="emailto:mail@mail.ru"><img src="images/mail.svg" alt="img"/><b>mail@mail.ru</b></a>
              </div>
            </div>
            <div class="col-12 col-lg-4 pb-5">
              <div class="contacts__item">
                <h3>По вопросам сотрудничества</h3><a href="tel:83511234567"><img src="images/phone.svg" alt="img"/><b>8 (351) 123-45-67</b></a><a href="emailto:mail@mail.ru"><img src="images/mail.svg" alt="img"/><b>mail@mail.ru</b></a>
              </div>
            </div>
            <div class="col-12 col-lg-4 pb-5">
              <div class="contacts__item">
                <h3>По общим вопросам</h3><a href="tel:83511234567"><img src="images/phone.svg" alt="img"/><b>8 (351) 123-45-67</b></a><a href="emailto:mail@mail.ru"><img src="images/mail.svg" alt="img"/><b>mail@mail.ru</b></a>
              </div>
            </div>
            <div class="col-12 py-5">
              <div class="contacts__item d-flex align-center"><img src="images/map.svg" alt="img"/>
                <h3 class="pb-0 m-0 pl-3">Челябинск, пр. Ленина 27/6</h3>
              </div>
            </div>
            <div class="col-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.730722558252!2d61.3071835160717!3d55.15299074555837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5925bc92a4267%3A0x3cb3b80930fa619b!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0OTAy!5e0!3m2!1sru!2sru!4v1591774958483!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
          </div>
        </div>
      </section>
      <section class="bg_blue_opacity request-form">
        <div class="container">
          <div class="row">
            <div class="col-12" data-animate="fadeInLeft" data-animate-delay="0">
              <h2>Заполните заявку</h2>
              <p>Выберите необходимые услуги</p>
              <form>
                <div class="input-collection py-4" data-animate="fadeInLeft" data-animate-delay="100">
                  <label class="input input_radio">
                    <input type="radio" name="arenda" checked="checked"/><span href="#">Аренда склада</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Ответственное хранение</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Аренда офиса</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Логистические услуги</span>
                  </label>
                </div><div class="pb-5">
<input class="input input_text width-2" placeholder="Ваше имя" type="text"  data-animate="fadeInLeft" data-animate-delay="200">
<input class="input input_text width-3" placeholder="Телефон для связи" type="tel"  data-animate="fadeInLeft" data-animate-delay="300">
<input class="input input_text width-4" placeholder="Что хранить и сколько" type="text"  data-animate="fadeInLeft" data-animate-delay="400">
</div>
                <div class="form__submit" data-animate="fadeInLeft" data-animate-delay="500">
                  <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
                  <p class="pl-5 pt-3 pt-lg-0">Наш специалист свяжется с Вами в течении 30 минут</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
<div class="footer-content">
<div class="container">
<div class="row">
<div class="col-12 col-lg-4">
<div class="widget">
<div class="widget-title widget-title_big">Хладокомбинат</div>
<p class="mb-5">Аренда складов разного типа и характеристик в Челябинске.</p>
<a class="btn " href="#" type="button" data-toggle="modal" data-target="#modalCallback">оставить заявку</a>
</div>
</div>
<div class="col-12 col-lg-8">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Услуги</div>
<ul class="list">
<li><a href="#">Аренда морозильных камер</a></li>
<li><a href="#">Аренда холодильных камер</a></li>
<li><a href="#">Аренда офисов</a></li>
<li><a href="#">Ответственное хранение</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Арендаторам</div>
<ul class="list">
<li><a href="#">Личный кабинет</a></li>
<li><a href="#">Информация</a></li>
<li><a href="#">Документы</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget widget_adres">
<div class="widget-title">Контакты</div>
<ul class="list">
<li>Адрес: Челябинск, ул. Ленина 1</li>
<li><a href="tel:+73512170770">Телефон: +7 351 217-07-70 </a></li>
<li><a href="emailto:info@site.ru">E-mail: info@site.ru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="copyright-content">
<div class="container">
<div class="copyright-text">2020 Хладокомбинат - политика конфиденциальности<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> Создание и поддержка сайта DEKSIS.RU </a>
</div>
</div>
</div>
</footer>
    </div><div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Обратный звонок</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Телефон" type="tel"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div>
<div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Вход</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form>
    <div class="d-flex justify-content-center"><a class="btn__register" href="#" data-toggle="modal" data-target="#modalReg">регистрация</a></div></div>
</div>
</div>
</div>
<div class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Регистрация</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div><a id="scrollTop"><i class="fas fa-chevron-up"></i>
<i class="fas fa-chevron-up"></i></a>
    <script src="js/library/jquery.js"></script>
    <script src="js/library/plugins.js"></script>
    <script src="js/library/functions.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
