source/html/occupancy.pug
extends base.pug
block content
	- title = "Аренда морозильных складов"
	include components/welcome.pug
	section(class="coldplant")
		div(class="container")
			div(class='row')
				div(class="col-12 col-lg-5 pb-5 pb-lg-0" data-animate="fadeInLeft" data-animate-delay="0")
					img(class="img-fluid" src="images/plan_2.jpg" alt="img")
				div(class="col-12 col-lg-7" data-animate="fadeInRight" data-animate-delay="0")
					h2(class="coldplant_text_min")
						| Аренда морозильных складов в Челябинске
					p()
						| Выбор площадей для аренды морозильных камер — это ответственное решение, так как товар прибывает на одной локации на протяжении длительного периода. Если температурные условия или показатели влажности были не соблюдены, вероятна потеря большой части товара и возможный вред здоровью конечного потребителя. Команда Хладокомбината №1 понимает проблемы, с которыми сталкиваются производители мясоной продукции, полуфабрикатов, мороженного, ягод и фруктов, поэтому берет на себя полную ответственность за качество условий хранения.
					p()
						| Аренда морозильных камер у нас — это комплексная услуга, которая включает в себя консультации логистики, помощь в доставке товара до камеры и конечных точек, погрузке и выгрузке товара, а также подготовке продукции.
	section(class="bg_blue_opacity")
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="text-center")
						b()
							| Особенности аренды морозильных складов
			<div class="row justify-content-center">
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/refrigerator.svg" alt="img")
						</div>
						<h3>Только экологичное оборудование</h3>
						<p>На наших складах для охлаждения камер мы используем фреон. В отличии от камер советского образца, мы не используем амиак для охлаждения продукции.</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/thermometer.svg" alt="img")
						</div>
						<h3>Гибкая регулировка температуры</h3>
						<p>Персонализированный режим от +6 до -25 градусов по цельсию, камеры оснащены четырехкратной приточно-вытяжная системой</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/methodology.svg" alt="img")
						</div>
						<h3>Полный цикл услуг</h3>
						<p>Сотрудничество с нами включает завоз, вывоз, подготовку, хранение, и доставку продукции.</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/Group.svg" alt="img")
						</div>
						<h3>Централизованная система пожаротушения</h3>
						<p>Наши огнетушители подают огнетушительное вещество в любой отсек комплекса</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/clock.svg" alt="img")
						</div>
						<h3>Работаем 24/7</h3>
						<p>Клиенты могут посетить комплекс в любой момент</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/refrigerator2.svg" alt="img")
						</div>
						<h3>Круглосуточная охрана</h3>
						<p>На территории комплекса ведется видеосъемка 24/7</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/furniture.svg" alt="img")
						</div>
						<h3>Офисы рядом</h3>
						<p>Наши клиенты могут снять офис и склад в одном месте — аренда на территории комплекса.</p>
					</div>
				</div>
			</div>
	section(class="coll-tab")
		div(class="container")
			div(class="row")
				<div class="col-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab_1">
								img(src="images/location1.svg" alt="img")
								span
									| Схема<br>склада
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab_2">
								img(src="images/factory1.svg" alt="img")
								span 
									| Ответсвенное<br>хранение
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab_3">
								img(src="images/truck1.svg" alt="img")
								span
									| Логистические<br>услуги
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab_1">
							div(class="row align-items-center py-5")
								div(class="col-12 col-lg-4")
									img(class="img-fluid" src="images/1-__1041.jpg" alt="img")
								div(class="col-12 col-lg-8")
									p
										| Удобная локация — наши склады размещены в центре города и оснащены 3 выездами на разыне стороноы. Таким образом, наши клиенты могут оперативно завезти и распределить товар, доставить замороженную продукцию в торговую точку и быстро транспортировать его конечному потребителю.
						</div>
						<div class="tab-pane fade" id="tab_2">
							| Ответсвенное хранение
						</div>
						<div class="tab-pane fade" id="tab_3">
							| Логистические услуги
						</div>
					</div>
				</div>
	include components/form.pug

release/occupancy.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="INSPIRO"/>
    <meta name="description" content="Themeforest Template Polo, html template"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Хладокомбинат</title>
    <link href="css/main.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="body-inner">
      <header class="dark submenu-light" id="header" data-transparent="true" data-fullwidth="true">
        <div class="header-inner">
          <div class="container header__block"><div id="logo">
<a href="index.html">
<span class="logo-default">ЛОГО</span>
<span class="logo-dark">ЛОГО</span>
</a>
</div>
<div id="mainMenu-trigger">
<a class="lines-button x"><span class="lines"></span></a>
</div>
            <div class="d-lg-flex">
              <div class="pr-lg-5" id="mainMenu">
                <div class="container">
                  <nav>
                    <ul><li><a href="index.html">Главная</a></li>
<li><a href="index.html">Услуги</a></li>
<li><a href="index.html">Информация</a></li>
<li><a href="index.html">О компании</a></li>
<li><a href="index.html">Партнеры</a></li>
<li><a href="index.html">Контакты</a></li>
<li class="d-flex align-center d-lg-none">
                      <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                        <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                      </div>
                      <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="d-none d-lg-flex align-center">
                <div class="header__phone-block"><a href="tel:+73512170770">+7 (351) 217-07-70</a>
                  <button class="btn" type="button" data-toggle="modal" data-target="#modalCallback">обратный звонок</button>
                </div>
                <button class="btn btn_login" type="button" data-toggle="modal" data-target="#modalLogIn"><i class="fas fa-user"></i></button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="welcome">
        <div class="container">
          <div class="row">
            <div class="col-12 welcome__content">
              <h1>Аренда морозильных складов
              </h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Library</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </section>
      <section class="coldplant">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 pb-5 pb-lg-0" data-animate="fadeInLeft" data-animate-delay="0"><img class="img-fluid" src="images/plan_2.jpg" alt="img"/></div>
            <div class="col-12 col-lg-7" data-animate="fadeInRight" data-animate-delay="0">
              <h2 class="coldplant_text_min">Аренда морозильных складов в Челябинске</h2>
              <p>Выбор площадей для аренды морозильных камер — это ответственное решение, так как товар прибывает на одной локации на протяжении длительного периода. Если температурные условия или показатели влажности были не соблюдены, вероятна потеря большой части товара и возможный вред здоровью конечного потребителя. Команда Хладокомбината №1 понимает проблемы, с которыми сталкиваются производители мясоной продукции, полуфабрикатов, мороженного, ягод и фруктов, поэтому берет на себя полную ответственность за качество условий хранения.</p>
              <p>Аренда морозильных камер у нас — это комплексная услуга, которая включает в себя консультации логистики, помощь в доставке товара до камеры и конечных точек, погрузке и выгрузке товара, а также подготовке продукции.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="bg_blue_opacity">
        <div class="container">
          <div class="row">
            <div class="col-12 pb-5">
              <h2 class="text-center"><b>Особенности аренды морозильных складов</b></h2>
            </div>
          </div><div class="row justify-content-center">
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/refrigerator.svg" alt="img"/></div>
<h3>Только экологичное оборудование</h3>
<p>На наших складах для охлаждения камер мы используем фреон. В отличии от камер советского образца, мы не используем амиак для охлаждения продукции.</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/thermometer.svg" alt="img"/></div>
<h3>Гибкая регулировка температуры</h3>
<p>Персонализированный режим от +6 до -25 градусов по цельсию, камеры оснащены четырехкратной приточно-вытяжная системой</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/methodology.svg" alt="img"/></div>
<h3>Полный цикл услуг</h3>
<p>Сотрудничество с нами включает завоз, вывоз, подготовку, хранение, и доставку продукции.</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/Group.svg" alt="img"/></div>
<h3>Централизованная система пожаротушения</h3>
<p>Наши огнетушители подают огнетушительное вещество в любой отсек комплекса</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/clock.svg" alt="img"/></div>
<h3>Работаем 24/7</h3>
<p>Клиенты могут посетить комплекс в любой момент</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/refrigerator2.svg" alt="img"/></div>
<h3>Круглосуточная охрана</h3>
<p>На территории комплекса ведется видеосъемка 24/7</p>
</div>
</div>
<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
<div class="icon-box effect small clean">
<div class="icon"><img src="images/furniture.svg" alt="img"/></div>
<h3>Офисы рядом</h3>
<p>Наши клиенты могут снять офис и склад в одном месте — аренда на территории комплекса.</p>
</div>
</div>
</div>
        </div>
      </section>
      <section class="coll-tab">
        <div class="container">
          <div class="row"><div class="col-12">
<ul class="nav nav-tabs">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#tab_1"><img src="images/location1.svg" alt="img"/><span>Схема<br>склада</span></a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#tab_2"><img src="images/factory1.svg" alt="img"/><span>
               Ответсвенное<br>хранение</span></a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#tab_3"><img src="images/truck1.svg" alt="img"/><span>Логистические<br>услуги</span></a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane fade show active" id="tab_1">
            <div class="row align-items-center py-5">
              <div class="col-12 col-lg-4"><img class="img-fluid" src="images/1-__1041.jpg" alt="img"/></div>
              <div class="col-12 col-lg-8">
                <p>Удобная локация — наши склады размещены в центре города и оснащены 3 выездами на разыне стороноы. Таким образом, наши клиенты могут оперативно завезти и распределить товар, доставить замороженную продукцию в торговую точку и быстро транспортировать его конечному потребителю.</p>
              </div>
            </div></div>
<div class="tab-pane fade" id="tab_2">Ответсвенное хранение</div>
<div class="tab-pane fade" id="tab_3">Логистические услуги</div>
</div>
</div>
          </div>
        </div>
      </section>
      <section class="bg_blue_opacity request-form">
        <div class="container">
          <div class="row">
            <div class="col-12" data-animate="fadeInLeft" data-animate-delay="0">
              <h2>Заполните заявку</h2>
              <p>Выберите необходимые услуги</p>
              <form>
                <div class="input-collection py-4" data-animate="fadeInLeft" data-animate-delay="100">
                  <label class="input input_radio">
                    <input type="radio" name="arenda" checked="checked"/><span href="#">Аренда склада</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Ответственное хранение</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Аренда офиса</span>
                  </label>
                  <label class="input input_radio">
                    <input type="radio" name="arenda"/><span href="#">Логистические услуги</span>
                  </label>
                </div><div class="pb-5">
<input class="input input_text width-2" placeholder="Ваше имя" type="text"  data-animate="fadeInLeft" data-animate-delay="200">
<input class="input input_text width-3" placeholder="Телефон для связи" type="tel"  data-animate="fadeInLeft" data-animate-delay="300">
<input class="input input_text width-4" placeholder="Что хранить и сколько" type="text"  data-animate="fadeInLeft" data-animate-delay="400">
</div>
                <div class="form__submit" data-animate="fadeInLeft" data-animate-delay="500">
                  <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
                  <p class="pl-5 pt-3 pt-lg-0">Наш специалист свяжется с Вами в течении 30 минут</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
<div class="footer-content">
<div class="container">
<div class="row">
<div class="col-12 col-lg-4">
<div class="widget">
<div class="widget-title widget-title_big">Хладокомбинат</div>
<p class="mb-5">Аренда складов разного типа и характеристик в Челябинске.</p>
<a class="btn " href="#" type="button" data-toggle="modal" data-target="#modalCallback">оставить заявку</a>
</div>
</div>
<div class="col-12 col-lg-8">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Услуги</div>
<ul class="list">
<li><a href="#">Аренда морозильных камер</a></li>
<li><a href="#">Аренда холодильных камер</a></li>
<li><a href="#">Аренда офисов</a></li>
<li><a href="#">Ответственное хранение</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget">
<div class="widget-title">Арендаторам</div>
<ul class="list">
<li><a href="#">Личный кабинет</a></li>
<li><a href="#">Информация</a></li>
<li><a href="#">Документы</a></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="widget widget_adres">
<div class="widget-title">Контакты</div>
<ul class="list">
<li>Адрес: Челябинск, ул. Ленина 1</li>
<li><a href="tel:+73512170770">Телефон: +7 351 217-07-70 </a></li>
<li><a href="emailto:info@site.ru">E-mail: info@site.ru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="copyright-content">
<div class="container">
<div class="copyright-text">2020 Хладокомбинат - политика конфиденциальности<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> Создание и поддержка сайта DEKSIS.RU </a>
</div>
</div>
</div>
</footer>
    </div><div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Обратный звонок</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Телефон" type="tel"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div>
<div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Вход</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form>
    <div class="d-flex justify-content-center"><a class="btn__register" href="#" data-toggle="modal" data-target="#modalReg">регистрация</a></div></div>
</div>
</div>
</div>
<div class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title text-center" id="myModalLabel">Регистрация</h4>
</div>
<div class="modal-body">
    <form class="px-5"><input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
<input class="input input_text w-100" placeholder="Пароль" type="password"  >
      <div class="form__submit justify-content-center">
        <button class="btn btn_arrow">Отправить<i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form></div>
</div>
</div>
</div><a id="scrollTop"><i class="fas fa-chevron-up"></i>
<i class="fas fa-chevron-up"></i></a>
    <script src="js/library/jquery.js"></script>
    <script src="js/library/plugins.js"></script>
    <script src="js/library/functions.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
